* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-all {
    background-color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px 9rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

#header-all .left h2 {
    font-size: 23px;
    margin: 0 16px 0 0;
    padding: 5px 0;
    cursor: pointer;
}

#header-all .right a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px;
    font-size: 19px;
    font-weight: bold;
}

#header-all .right a:hover {
    color: #1ABC9C;
}

#content .container {
    background-color: #1ABC9C;
}

#content .photo img {
    width: 15rem;
    margin: 6rem 38rem 2rem;
}

#content .photo-bottom h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 4rem;
    line-height: 3.5rem;
}

#content .star svg {
    height: 30px;
    color: #FFFFFF;
    margin: 25px;
}

#content .star {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
}

#content hr {
    background-color: #FFFFFF;
    border: 1.5px solid white;
    width: 100px;
    float: left;
}

#content .top {
    float: right;
}

#content .form-content p {
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
    padding: 20px 0px 90px;
}

#portfolio .portfolio-header h1 {
    color: #2c3e50;
    font-size: 3rem;
    line-height: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6rem;
}

#portfolio .icon-two svg {
    height: 30px;
    color: #2c3e50;
    margin: 25px;
}

#portfolio .icon-two {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
}

#portfolio .icon-two hr {
    background-color: #2c3e50;
    border: 1.5px solid #2c3e50;
    width: 100px;
    float: left;
}

.portfolio-image {
    display: flex;
    justify-content: space-around;
    margin: 0 6rem;

}

.portfolio-image .image {
    width: 33%;
    cursor: pointer;
margin-bottom: 80px;
}

.portfolio-image .image img {
    width: 100%;
    border-radius: 10%;
    padding: 18px;
}

#about .container {
    background-color: #1ABC9C;
}

#about h1 {
    color: #FFFFFF;
    font-size: 40px;
}

#about .star svg {
    height: 30px;
    color: #FFFFFF;
    margin: 25px;
}

#about .star {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
}

#about .star hr {
    background-color: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    width: 100px;
    float: left;
}

#about .freelancer {
    width: 50%;
    display: flex;
    overflow: auto;
    margin: auto;
    color: #FFFFFF;
    padding: 15px 15px;
}

#about .freelancer-p {
    width: 100%;
}

#about .about-head h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
}

#about .freelancer p {
    font-size: 1.25rem;
    font-weight: 300;
}
#about a{
    background-color: transparent;
    padding: 20px 60px;
    text-decoration: none;
    color: #fff;
    border:none;
  display: flex;
}
#about .fa-solid{
border: none;
color: #fff;
}
#about button{
    width: 17%;
    background-color: transparent;
   margin: auto;
   border-radius: 5%;
   font-size: 1rem;
  margin: 3rem 37rem;
  border: 2px solid #fff;
  padding: 2px;
}
#form h1{
    color: #2c3e50;
    text-align: center;
    margin-top: 6rem;
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 2.5rem;
}


form {
    width: 40%;
    margin: auto;
}

form input,
textarea {
    width: 100%;
}

input {
    padding: 10px 0 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid grey;
}
.form-action button{
background-color: #1ABC9C;
border: none;
color:#fff;
font-size: 16px;
padding: 19px 30px;
border-radius: 15%;
margin: 20px;
}
#form .icon svg {
    height: 30px;
    color: #2c3e50;
    margin: 25px;
}

#form .icon {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

#form hr {
    background-color: #2c3e50;
    border: 1.5px solid #2c3e50;
    width: 100px;
    float: left;
}

#form .second {
    float: right;
}
#footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
#footer .footer{
    display: flex;
justify-content: space-around;
width: 33%;
margin: 4px 0px 0px 15rem;

}
#footer .head{
    display: flex;
    flex-wrap: wrap;
  width: 100%;
padding: 0 0 -8px 12rem;
margin:47px;
}
#footer .head h2{
    font-weight: bold;
}
#footer .head fa{
    border-radius: 50%;
    border-color: #fff;
}
#footer .location{
    width: 100%;
    line-height: 40px;
}
#footer .location a{
    color: #1ABC9C;
    font-size:20px;
}